name: Publish to NPM
on:
  push:
    branches:
      - master

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Update NPM
        run: npm i -g npm@latest

      - name: Install dependencies
        run: npm i

      - name: Build
        run: npm run build

      - name: Publish to NPM
        run: npm publish
